.nav-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav__button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 60px;
    width: 60px;
    color:rgb(255, 255, 255);
    background-color: rgb(182, 106, 141);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    border-radius: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.nav__button:active {
    transform: scale(0.98);
    opacity: .9;
}

.nav__button:disabled {
    opacity: .5;
}

.nav__button_garage {
    background-image: url('../../../images/garage.png');
}

.nav__button_winners {
    background-image: url('../../../images/cup.png');
}

.nav__button_active {
    opacity: .5;
}

.nav__button_active:active{
    transform: unset;
    opacity: .5;
}