.pagination {
    display: flex;
    gap: 20px;
    align-items: center;
}

.pagination__title {
    color: white;
}

.pagination__buttons {
    display: flex;
    height: 20px;
    color: black;
    font-weight: 700;
    gap: 5px;;
}

.pagination__button {
    width: 20px;
    background-color: rgb(182, 106, 141);;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    transition: all .2s ease;
}

.pagination__button:not([disabled]):hover {
    background-color: rgb(255, 118, 182);
}